body {
    font-family:Arial, Helvetica, sans-serif
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 5vw;
    line-height: 1.4em;
    font-weight: bold;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 3px lightblue;
}

h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.heading-highlight {
    color: pink;
}

.button {
    display: inline-block;
    width: max-content;
    padding: 1rem;
    border: 3px solid pink;
    font-weight: bold;
    text-decoration: none;
    color: paleturquoise;
    transition: all 0.3s ease-in-out;
}

.header-button {
    display: inline-block;
    width: max-content;
    padding: 1rem;
    border: 3px solid pink;
    font-weight: bold;
    text-decoration: none;
    color: paleturquoise;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
}

.header-button:hover {
    color: pink;
    background-color: paleturquoise;
}


.button:hover {
    color: white;
    background: pink;
}

section {
    padding: 4rem;
}

.about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 0 auto;
}

.about-img {
    display: block;
    box-align: center;
    width: 100%;
    max-width: 350px;
    margin: 2em;
    filter: grayscale(100%);
}

.about-img:hover {
    filter: grayscale(0);
}

img {
    max-width: 350px;
}

p{
    margin-bottom: 1em;
    line-height: 1.4em;
}

.about-text {
    text-align: justify;
    padding: 3em;
}

blockquote {
    margin-top: 4rem;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

cite {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    font-style:normal;
}

article {
    display: flex;
    flex-direction: column-reverse;
}

article-img{
    margin-bottom: 2rem;
}

.contact {
    text-align: center;
}

footer {
    padding: 4em;
    text-align: center;
    color: white;
    background-color: pink;
}

.neutral-theme {
    background-color: white;
    --button-color: pink;
    --button-hover-color: paleturquoise;
}

.primary-theme {
    color: white;
    background: navy;
    --button-color: white;
    --button-hover-color: navy;

}